body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #141414;
  /* margin-bottom: 1000px; */
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all; /*Quebra a palavra*/
  max-width: 4ch; /*Quantidade de letras em cada linha*/
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
